<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Admin Dashboard</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>

<body>

<div class="dashboard">

    <div class="sidebar">

        <h2>🎓 AI Attendance</h2>

        <a href="/admin_dashboard">
            <i class="fas fa-home"></i> Dashboard
        </a>

        <a href="/start_attendance">
            <i class="fas fa-video"></i> Start Attendance
        </a>
        <a href="/stop_attendance">
            <i class="fas fa-video"></i> Stop Attendance
        </a>

        <a href="/students">
            <i class="fas fa-user-graduate"></i> Students
        </a>

        <a href="/attendance_records">
            <i class="fas fa-calendar-check"></i> Attendance Records
        </a>

        <a href="/reports">
            <i class="fas fa-chart-line"></i> Reports
        </a>


        <a href="/index">
            <i class="fas fa-sign-out-alt"></i> Logout
        </a>

    </div>

    <div class="main">

        <div class="topbar">

            <h1>Welcome Admin 👋</h1>

            <p>{{ today }}</p>

        </div>

        <div class="cards">
         <div class="card">
            <h3>Total Students</h3>
                <h2>{{ total_students }}</h2>
         </div>
        <div class="card">
            <h3>Present Today</h3>
            <h2>{{ total }}</h2>
        </div>

        <div class="card">
            <h3>System Status</h3>
            <h2>🟢 Active</h2>
        </div>

    </div>

        <div class="camera-section">

    <div class="camera-header">
        <h2>📹 Live Classroom Camera</h2>

        <span class="camera-status">
            🟢 Camera Ready
        </span>
    </div>

    <div class="camera-info">

        <div class="info-card">
            <h3>Faces Detected</h3>
            <h2 id="faces">0</h2>
        </div>

        <div class="info-card">
            <h3>Recognized</h3>
            <h2 id="recognized">0</h2>
        </div>

        <div class="info-card">
            <h3>Unknown</h3>
            <h2 id="unknown">0</h2>
        </div>

    </div>

</div>


    </div>

</div>

</body>

</html>